body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.greeting {
    font-size: 24px;
    margin: 20px;
}

.logout-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}